Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
se=pd.Series([4,8,15,16,23,42])
se

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
li=[1,2,3,4,5,6,7,8,9,10]
se=pd.Series(li)
se

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
df= pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],'Age':[25,30,27], 'Gender':['female', 'male', 'female']})
df

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DATA FRAME= Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

dataframe is different from series:-
 Pandas Series is a one-dimensional labeled array whose object size cannot be changed. You can also see it as the primary building block for a DataFrame, making up its rows and columns.Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects.

In [9]:
#example:
#series :
li=[1,2,3,4,5,6,7,8,9,10]
se=pd.Series(li)
print(se)
#dataframe :
df= pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],'Age':[25,30,27], 'Gender':['female', 'male', 'female']})
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas offers a wide range of functions to manipulate data in a DataFrame. Here are some common ones:

Filtering: You can filter rows based on conditions using df[df['column_name'] condition]. For example, df[df['age'] > 25] filters the DataFrame to include only rows where the 'age' column value is greater than 25.

Sorting: You can sort the DataFrame by one or more columns using df.sort_values('column_name'). For example, df.sort_values('age') sorts the DataFrame by the 'age' column.

Grouping: You can group data based on one or more columns using df.groupby('column_name'). For example, df.groupby('city').mean() groups the data by the 'city' column and calculates the mean for each group.

Aggregation: You can perform aggregation functions like sum, mean, count, etc., on grouped data using grouped_df.agg({'column_name': 'function'}). For example, grouped_df.agg({'sales': 'sum'}) calculates the sum of the 'sales' column for each group.

Joining: You can join two DataFrames based on a common column using pd.merge(df1, df2, on='column_name'). For example, pd.merge(df1, df2, on='id') joins df1 and df2 based on the 'id' column.

Pivoting: You can pivot the DataFrame to reshape the data using df.pivot(index='index_column', columns='column_name', values='value_column'). For example, df.pivot(index='date', columns='city', values='temperature') pivots the DataFrame to have 'date' as index, 'city' as columns, and 'temperature' as values.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, meaning you can change their values after they have been created. However, Panel objects are considered deprecated and have been removed from the library as of version 0.25.0. It's recommended to use MultiIndex DataFrames or xarray as alternatives for handling three-dimensional data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
# Creating Series
s1 = pd.Series([1, 2, 3, 4, 5], name='A')
s2 = pd.Series([10, 20, 30, 40, 50], name='B')
s3 = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'], name='C')

# Creating DataFrame using the Series
df = pd.DataFrame({'Column1': s1, 'Column2': s2, 'Column3': s3})

# Displaying the DataFrame
print(df)

   Column1  Column2     Column3
0        1       10       apple
1        2       20      banana
2        3       30      cherry
3        4       40        date
4        5       50  elderberry